.console-panel {
  flex: 1; /* Ocupa una fracción del contenedor del IDE */
  display: flex;
  flex-direction: column;
  background-color: #2d2d2d; /* Color de fondo negro para la consola */
  color: #ffffff; /* Texto blanco */
  padding: 10px;
  border-top: 2px solid #444; /* Borde para separar la consola del editor */
  height: 50%; /* Ajusta la altura al 50% del contenedor principal */
  min-height: 200px; /* Establece una altura mínima para la consola */
}

.console-header {
  font-weight: bold;
  margin-bottom: 10px;
  color: #00bcd4;
}

.console-output {
  flex: 1;
  background-color: #000000;
  padding: 10px;
  overflow-y: auto;
  border-radius: 5px;
  font-family: monospace;
  white-space: pre-wrap; 
  text-align: left;
  word-break: break-word;
}
